html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
    p {font-size: 12px}
    h1 {font-size: 25px;}
    .middleSection  { 
                      position: absolute;
                      left: 0;
                      right: 0;
                    } 
  }
  

body {
    background-color: rgb(148, 148, 148);
    font-family: Roboto, Arial;
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(60, 60, 60);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%,rgb(19, 204, 204) 100%);

}

/* Esan osio*/
.taustakuva img{
    position: absolute;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}


.tervetuloa {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%,rgb(19, 204, 204) 60%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flare {
    width: 600px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 200;
}

.logo {
    height: 400px;
}

.viesti {
    position: relative;
    color: white;
    font-size: 100px;
    margin: 0;
}


.header {
    background-color: rgb(197, 196, 196);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
}

.media {
    fill: black;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 35px;
    max-width: 700px;
}

.right-side {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

.container {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


a {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    height: 24px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 10px;
}


a:hover{
    background-color: white;
    color: rgb(19, 204, 204);
}

svg:hover{
    fill: rgb(19, 204, 204);
}
/* Esan osio*/


/* yleisiä ominaisuuksia */
.middleSection {
  border-radius: 50px;
  padding: 100px;
  position: absolute;
  top: 120%;
  left: 20%;
  right: 20%;
  background-color: white;
  min-width: 550px;
}


.panel {
    background-color: rgba(97, 94, 94, 0.432);
    width: 100%;
    border-radius: 20px;
    padding: 50px;
    z-index: 100;
    position: relative;

}

.etusivu,
.palvelut,
.portfolio,
.yhteystiedot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.tuote {
    display: flex;
    margin-bottom: 40px;
}
/* yleisiä ominaisuuksia */


/*Ari-Pekan osio*/ 
.mainos {
    height: 200px;
    margin-right: 30px;
    border-radius: 20px;
}

/*Ari-Pekan osio*/ 

.asiakas {
    display: none;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    right: 38px;
    border-radius: 3px 0 0 3px;
}

.portfolio p {
    color: white;
    padding: 10px;
}

.malli {
    width: 100%;
    border-radius: 20px;
}

.description {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(97, 94, 94, 0.7);
}

.kommentti {
    text-align: center;
}

/*Ninon osio*/
.input {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 5px;
}

.text {
    border: none;
    border-radius: 5px;
    background-color: white;
    resize: none;
}

.box {
    display: grid;
    margin-bottom: -25px;
    grid-template-columns: 20px 250px;
}

.submit {
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    border: none;
}
 
button:hover {
    background-color: white;
    color: rgb(19, 204, 204);
}

footer {
    margin-top: 80%;
}

.loppu
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    background-color: rgb(97, 94, 94, 0.432);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tiedot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loppu p{
    margin-bottom: 0;
    margin-top: 8px;
}

.buddies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.kumppanit {
    width: 50%;
    margin-top: 30px;
}
/*Ninon osio*/